{% extends 'base.html' %}
{% load carton_tags %}

{% block content %}
    {# get_cart works only in same block #}
    {% get_cart as cart %}
    <div class="col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8 col-xs-12">
        <h1>We will send your order as soon as possible!</h1>
        <div class="col-lg-offset-2 col-lg-8 col-xs-12 margin-top-30">
            <a href="{% url 'products_index' %}" type="button" class="btn btn-lg btn-block btn-default">Return to products</a>
        </div>
    </div>
{% endblock %}