{% extends 'base.html' %}
{% load carton_tags %}

{% block content %}
    {# get_cart works only in same block #}
    {% get_cart as cart %}
    <div class="col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8 col-xs-12">
        {% if cart.count %}
            <h2>Shopping Cart</h2>
            <table class="table table-bordered table-center">
                <thead>
                    <tr>
                        <th></th>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th></th>
                        <th></th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart.items %}
                        <tr>
                            <td>
                                <a href="{% url 'cart_remove' product_id=item.product.id %}" type="button" class="btn btn-xs btn-danger">
                                    <i class="fa fa-times"></i>
                                </a>
                            </td>
                            <td>{{ item.product.name }}</td>
                            <td><span class="badge">{{ item.quantity }}</span></td>
                            <td>
                                <a href="{% url 'cart_add_single' product_id=item.product.id %}" type="button" class="btn btn-xs btn-success">+1</a>
                            </td>
                            <td>
                                <a href="{% url 'cart_remove_single' product_id=item.product.id %}" type="button" class="btn btn-xs btn-danger">-1</a>
                            </td>
                            <td>{{ item.subtotal }} USD</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="4"></td>
                        <th>Total</th>
                        <td>{{ cart.total }} USD</td>
                    </tr>
                </tbody>
            </table>
            <div class="btn-group btn-group-justified btn-group-lg" role="group" >
                <a href="{% url 'cart_clear' %}" type="button" class="btn btn-danger">Clear cart</a>
                <a href="{% url 'cart_order' %}" type="button" class="btn btn-success">Order now</a>
            </div>
        {% else %}
            <h3 class="text-center">Your shopping cart is empty</h3>
            <h4 class="text-center">Go back to products page and add something</h4>
        {% endif %}
        <div class="col-lg-offset-2 col-lg-8 col-xs-12 margin-top-30">
            <a href="{% url 'products_index' %}" type="button" class="btn btn-lg btn-block btn-default">Return to products</a>
        </div>
    </div>
{% endblock %}