/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-top-30 {
    margin-top: 30px;
}

/* Forces table content to be centered */
.table-center, .table-center th, .table-center td {
    vertical-align: middle !important;
    text-align: center !important;
}

/* Fixes buttons with fontawesome icons in navbar */
.navbar-fa-btn {
    min-height: 34px;
    min-width: 40px;
}
