{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
    <div class="col-xs-12">
        <h2>Search</h2>
        <form method="get" action=".">
            <div class="col-lg-6">
                <div class="input-group">
                    {% render_field form.q class="form-control" placeholder="Search for..." %}
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Search</button>
                    </span>
                </div>
            </div>
        </form>
    </div>

    {% if query %}
        <div class="col-xs-12">
            <h2>Results</h2>

            {% for result in page.object_list %}
                <p>
                    {% if result.content_type == "blog.entry" %}
                        <a href="{% url 'blog_entry' entry_id=result.object.pk %}">{{ result.object.title }}</a>
                    {% elif result.content_type == "articles.article" %}
                        <a href="{% url 'articles_article' article_id=result.object.pk %}">{{ result.object.title }}</a>
                    {% endif %}
                </p>
            {% empty %}
                {# Empty suggestion is returned as string containing word "None" #}
                {% if suggestion != "None" %}
                    <p>No results found</p>
                {% else %}
                    <p>Do you mean: {{ suggestion }} ?</p>
                {% endif %}
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}