{% extends 'base.html' %}

{% block content %}
    {# Example blog entry page - feel free to adjust it #}
    <div class="col-xs-12">
        <h1>{{ entry.title }}</h1>
        <span>{{ entry.body }}</span>
        <h4>
            <small>
                Added: {{ entry.pub_date|date:'Y-m-d H:i' }}<br />
                Modified: {{ entry.modified|date:'Y-m-d H:i' }}<br />
                Comments: {{ entry.comments_count }}
            </small>
        </h4>
        {% for comment in entry.comments.all %}
            <div class="col-xs-12">
                <span>{{ comment.body }}</span>
                <h4><small>Commented: {{ comment.created|date:'Y-m-d H:i' }}</small></h4>
            </div>
        {% endfor %}
    </div>
    <a class="btn btn-link" href="{% url 'blog_index' %}">Back to blog page</a>
{% endblock %}