{% extends 'base.html' %}

{% block content %}
    {# Example blog page - feel free to adjust it #}
    <h1>My blog</h1>
    {% if entries %}
        {% for entry in entries %}
            <div class="col-lg-4 col-md-6 col-xs-12">
                <h3>{{ entry.title }}</h3>
                <span>
                    {{ entry.body|truncatewords:"30" }}<br />
                    <a href="{% url 'blog_entry' entry_id=entry.pk %}">See full post</a>
                </span>
                <h4>
                    <small>
                        Added: {{ entry.pub_date|date:'Y-m-d H:i' }}<br />
                        Modified: {{ entry.modified|date:'Y-m-d H:i' }}<br />
                        Comments: {{ entry.comments_count }}
                    </small>
                </h4>
            </div>

        {% endfor %}
    {% else %}
        <h3>I didn't publish anything yet :(</h3>
    {% endif %}
{% endblock %}