{% extends "admin/base_site.html" %}
{% load i18n admin_static %}
{% load widget_tweaks %}

{% block extrastyle %}
    {{ block.super }}
    {#  <link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}" /> #}
    {{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block container %}
    {% block content %}
        {% if form.errors and not form.non_field_errors %}
            <p class="errornote alert alert-error">
                {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
            </p>
        {% endif %}

        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <p class="errornote alert alert-error">
                    {{ error }}
                </p>
            {% endfor %}
        {% endif %}

        {% if user.is_authenticated %}
            <p class="errornote alert alert-error">
                {% if form.email %}
                    {% blocktrans with email=request.user.email trimmed %}
                        You are authenticated as {{ email }}, but are not authorized to
                        access this page. Would you like to login to a different account?
                    {% endblocktrans %}
                {% elif form.username %}
                    {% blocktrans with username=request.user.username trimmed %}
                        You are authenticated as {{ username }}, but are not authorized to
                        access this page. Would you like to login to a different account?
                    {% endblocktrans %}
                {% endif %}
            </p>
        {% endif %}

        <div id="content-main">
            <h1><i class="icon-lock icon-white"></i> Login</h1>
            <form action="{{ app_path }}" method="post" id="login-form">
                <div class="hide">{% csrf_token %}</div>
                {% if form.email %}
                    <div class="form-row control-group {% if form.email.errors %}error{% endif %}">
                        <label for="{{ form.email.auto_id }}" class="control-label required">Email: </label>{{ form.email }}
                        <div class="help-block">{{ form.email.errors }}</div>
                    </div>
                {% elif form.username %}
                    <div class="form-row control-group {% if form.username.errors %}error{% endif %}">
                        <label for="{{ form.username.auto_id }}" class="control-label required">Username: </label>{{ form.username }}
                        <div class="help-block">{{ form.username.errors }}</div>
                    </div>
                {% endif %}
                <div class="form-row control-group {% if form.password.errors %}error{% endif %}">
                    <label for="{{ form.password.auto_id }}" class="control-label required">Password: </label>{{ form.password }}
                    <div class="help-block">{{ form.password.errors }}</div>
                    <input type="hidden" name="next" value="{{ next }}" />
                </div>
                {% url 'admin_password_reset' as password_reset_url %}
                {% if password_reset_url %}
                    <div class="password-reset-link">
                        <a href="{{ password_reset_url }}">{% trans 'Forgotten your password or email?' %}</a>
                    </div>
                {% endif %}
                <div class="submit-row">
                    <input type="submit" value="{% trans 'Log in' %}" class="btn btn-info" />
                </div>
            </form>

            <script type="text/javascript">
                document.getElementById('id_email').focus()
            </script>
        </div>
    {% endblock %}
{% endblock %}


