{% extends 'base.html' %}

{% block content %}
    {# Example article page - feel free to adjust it #}
    <div class="col-xs-12">
        <h1>{{ article.title }}</h1>
        <span>{{ article.body }}</span>
        <h4>
            <small>
                Added: {{ article.pub_date|date:'Y-m-d H:i' }}<br />
                Modified: {{ article.modified|date:'Y-m-d H:i' }}<br />
                Comments: {{ article.comments_count }}
            </small>
        </h4>
        {% for comment in article.comments.all %}
            <div class="col-xs-12">
                <span>{{ comment.body }}</span>
                <h4><small>Commented: {{ comment.created|date:'Y-m-d H:i' }}</small></h4>
            </div>
        {% endfor %}
    </div>
    <a class="btn btn-link" href="{% url 'articles_index' %}">Back to articles page</a>
{% endblock %}