{% extends 'base.html' %}

{% block content %}
    {# Example articles page - feel free to adjust it #}
    <h1>My articles</h1>
    {% if articles %}
        {% for article in articles %}
            <div class="col-lg-4 col-md-6 col-xs-12">
                <h3>{{ article.title }}</h3>
                <span>
                    {{ article.body|truncatewords:"30" }}<br />
                    <a href="{% url 'articles_article' article_id=article.pk %}">See full article</a>
                </span>
                <h4>
                    <small>
                        Added: {{ article.pub_date|date:'Y-m-d H:i' }}<br />
                        Modified: {{ article.modified|date:'Y-m-d H:i' }}<br />
                        Comments: {{ article.comments_count }}
                    </small>
                </h4>
            </div>

        {% endfor %}
    {% else %}
        <h3>I didn't publish anything yet :(</h3>
    {% endif %}
{% endblock %}