{% load meta %}
<!DOCTYPE html>
<html lang="en">
{% block head %}
    <head {% meta_namespaces %}>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name=viewport content="width=device-width, initial-scale=1">

        {% include "meta/meta.html" %}

        <title>Metrix Homework</title>

        <meta content="Kamil Sowiński" name="author" />

        {% include 'stylesheets.html' %}
    </head>
{% endblock %}
{% block body %}
    <body>
        {% include 'navbar.html' %}
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
        {% include 'javascripts.html' %}
    </body>
{% endblock %}
</html>


