{% load compress %}
{% load static %}
{% block javascripts %}
    {% compress js %}
        <script src="{% static "vendor/jquery/jquery-3.3.1.min.js" %}" type="text/javascript"></script>
        <script src="{% static "vendor/bootstrap/js/bootstrap.min.js" %}" type="text/javascript"></script>
        <script src="{% static "custom.js" %}" type="text/javascript"></script>
    {% endcompress %}
{% endblock %}