{% block navbar %}
   <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}">Metrix Homework</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'blog_index' %}">Blog</a></li>
                    <li><a href="{% url 'articles_index' %}">Articles</a></li>
                    <li><a href="{% url 'products_index' %}">Products</a></li>
                </ul>
                <form class="navbar-form navbar-left" role="search" method="get" action="{% url 'search_index' %}" >
                    <div class="form-group">
                        <input name="q" type="search" class="form-control" placeholder="Search for..">
                    </div>
                </form>
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" type="submit" class="btn btn-default navbar-btn navbar-right margin-left-10">Logout</a>
                    <p class="navbar-text navbar-right">Logged in as {{ user.email }}</p>
                {% else %}
                    <a href="{% url 'social:begin' 'facebook' %}"
                       class="btn btn-primary navbar-btn navbar-right navbar-fa-btn margin-left-10"
                       title="Login with Facebook">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="{% url 'social:begin' 'twitter' %}"
                       class="btn btn-info navbar-btn navbar-right navbar-fa-btn margin-left-10"
                       title="Login with Twitter">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="{% url 'login' %}" class="btn btn-success navbar-btn navbar-right">Login</a>
                {% endif %}
            </div>
        </div>
    </nav>
{% endblock %}