{% load compress %}
{% load static %}
{% block stylesheets %}
    {% compress css %}
        <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" property='stylesheet' rel="stylesheet" type="text/css" media="screen"/>
        <link href="{% static "vendor/bootstrap/css/bootstrap-theme.min.css" %}" property='stylesheet' rel="stylesheet" type="text/css" media="screen"/>
        <link href="{% static "vendor/font-awesome/css/fontawesome-all.min.css" %}" property='stylesheet' rel="stylesheet" type="text/css" media="screen"/>
        <link href="{% static "custom.css" %}" id="custom" property='stylesheet' rel="stylesheet" type="text/css" media="screen"/>
    {% endcompress %}
{% endblock %}