{% extends 'base.html' %}
{% load carton_tags %}

{% block content %}
    {# get_cart works only in same block #}
    {% get_cart as cart %}
    {% for product in products %}
        <div class="col-lg-4 col-md-6 col-xs-12">
            <h3>{{ product.name }}</h3>
            <h4>Only {{ product.price }} USD</h4>
            <form>
                <a href="{% url 'cart_add_single' product_id=product.id %}?next=products_index" type="button" class="btn btn-sm btn-success">Add to cart</a>
            </form>
        </div>
    {% endfor %}
    <div class="col-lg-offset-4 col-lg-4 col-xs-12 margin-top-30">
        <h3 class="text-center">Total: {{ cart.total }} USD</h3>
        <a href="{% url 'cart_show' %}" type="button" class="btn btn-lg btn-block btn-default">Go to cart</a>
    </div>
{% endblock %}